@use '../abstracts';

// -----------------------------------------------------------------------------
// This file contains all styles related to the clients section of the site/application.
// -----------------------------------------------------------------------------

.clients {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem abstracts.rem(27);
    align-content: center;
}

@include abstracts.breakpoint-up('medium') {
    .clients {
        padding: 8rem 12rem;

        &__img img {
            height: 2rem;
            width: auto;
        }

        &__img--hidden {
            display: none;
        }
    }
}

@include abstracts.breakpoint-up('large') {
    .clients {
        padding: 7.5rem 0;
        justify-content: space-between;
    }
}
