@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../abstracts/functions' as f;
@use 'sass:color';

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    display: flex;
    justify-content: space-between;
    padding: f.rem(40) f.rem(20) f.rem(40) f.rem(16);
    background-color: v.$color-white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;

    @include m.breakpoint-up('medium') {
        flex-direction: row-reverse;
        padding: f.rem(32) f.rem(68);
        align-items: center;

        &::before {
            content: '';
            width: f.rem(40);
        }
    }

    @include m.breakpoint-up('large') {
        flex-direction: row;
        padding: f.rem(65) f.rem(98) f.rem(34) f.rem(148);

        &::before {
            display: none;
        }
    }

    &__main-logo {
        width: f.rem(40);
        height: f.rem(47);
    }

    /* Navigation menu */
    &__nav {
        @include m.breakpoint-up('large') {
            display: flex;
            align-items: center;
            gap: f.rem(245);
        }

        &--open {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(v.$color-raisin-black, 0.9);

            @include m.breakpoint-up('large') {
                position: static;
                background: transparent;
            }
        }
    }

    &__menu-btn {
        width: f.rem(40);
        height: f.rem(40);
        background: url('/assets/Icons/hamburger-icon.svg') center/contain
            no-repeat;

        @include m.breakpoint-up('large') {
            display: none;
        }

        // To switch the images on clicking
        &[aria-expanded='true'] {
            background-image: url('/assets/Icons/cross-icon.svg');
            position: absolute;
            top: f.rem(40);
            right: f.rem(20);

            @include m.breakpoint-up('medium') {
                top: f.rem(32);
                left: f.rem(68);
            }
        }
    }

    @keyframes nav-appear {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    &__list {
        gap: f.rem(32);
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: 1s ease-out 0s 1 normal both running nav-appear;
        background-color: lighten(v.$color-cyclamen, 20%);
        margin: f.rem(112) f.rem(32) 0;
        padding-top: f.rem(32);
        border-radius: f.rem(32) f.rem(32) 0 0;

        @include m.breakpoint-up('medium') {
            position: absolute;
            top: f.rem(96);
            left: 0;
            right: 0;
            padding: f.rem(48);
            margin: f.rem(32) f.rem(160);
            border-radius: f.rem(32);
        }

        @include m.breakpoint-up('large') {
            position: static;
            display: flex;
            flex-direction: row;
            background: transparent;
            animation: none;
            padding: 0;
            margin: 0;
            gap: f.rem(56);
        }

        &--hidden {
            display: none;

            @include m.breakpoint-up('large') {
                display: flex;
            }
        }
    }

    &__link {
        color: rgba(v.$color-raisin-black, 0.5);
        font-size: f.rem(14);
        font-weight: bold;
        border: 2px solid transparent;

        &:hover,
        &:focus {
            color: v.$color-gunmetal;
            outline: none;
        }

        &:focus-visible {
            color: v.$color-gunmetal;
            border-color: v.$color-gunmetal;
        }
    }

    &__btn-container {
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: f.rem(16);
        animation: 1s ease-out 0s 1 normal both running nav-appear;
        background-color: lighten(v.$color-cyclamen, 20%);
        border-radius: 0 0 f.rem(32) f.rem(32);
        margin: 0 f.rem(32) f.rem(32);
        gap: f.rem(16);

        @include m.breakpoint-up('medium') {
            display: block;
            position: absolute;
            top: f.rem(32);
            right: f.rem(64);
            gap: 0;
            padding: 0;
            margin: 0;
            animation: none;
            background: transparent;
        }

        @include m.breakpoint-up('large') {
            position: static;
            display: flex;
        }

        &--hidden {
            display: none;

            @include m.breakpoint-up('medium') {
                display: block;
            }

            @include m.breakpoint-up('large') {
                display: flex;
            }
        }
    }

    &__btn {
        &--secondary {
            padding-inline: f.rem(24);

            @include m.breakpoint-up('large') {
                padding-inline: f.rem(32);
            }
        }

        &--primary {
            padding-inline: f.rem(32);
        }
    }
}
