@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../abstracts/functions' as f;

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
    display: flex;
    justify-content: space-between;
    padding: f.rem(40) f.rem(20) f.rem(40) f.rem(16);
    background-color: rgba(white, 0.8);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    @include m.breakpoint-up('medium') {
        flex-direction: row-reverse;
        padding: f.rem(32) f.rem(68);
        align-items: center;
    }

    @include m.breakpoint-up('large') {
        flex-direction: row;
        padding: f.rem(65) f.rem(98) f.rem(34) f.rem(148);
    }

    &__main-logo {
        width: f.rem(40);
        height: f.rem(47);
    }

    &__menu-btn {
        width: f.rem(40);
        height: f.rem(40);
        padding: 0;
        background: url('/assets/Icons/hamburger-icon.svg') center/contain
            no-repeat;

        @include m.breakpoint-up('large') {
            display: none;
        }
    }

    // To switch the images on clicking
    &__menu-btn[aria-expanded='true'] {
        background-image: url('/assets/Icons/cross-icon.svg');
        position: absolute;
        top: f.rem(40);
        right: f.rem(20);

        @include m.breakpoint-up('medium') {
            position: static;
        }
    }

    &__btn-placeholder {
        display: none;

        @include m.breakpoint-up('medium') {
            display: block;
            width: f.rem(40);
        }

        @include m.breakpoint-up('large') {
            display: none;
        }
    }

    /* Navigation menu */
    &__nav {
        @include m.breakpoint-up('large') {
            display: flex;
            align-items: center;
            position: static;
            margin: 0;
            gap: f.rem(252);
        }
    }

    &__nav--visible {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding-top: f.rem(80);
        background-color: aqua;

        @include m.breakpoint-up('medium') {
            position: static;
            width: auto;
            padding-top: 0;
            background: transparent;
        }
    }

    &__list {
        margin: 0;

        @include m.breakpoint-up('large') {
            display: flex;
            flex-direction: row;
            background: transparent;
            margin: 0;
            padding: 0;
            gap: f.rem(60);
        }
    }

    &__list--visible {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;

        @include m.breakpoint-up('medium') {
            position: absolute;
            top: f.rem(96);
            left: 0;
            right: 0;
            padding: f.rem(16);
            background-color: aqua;
        }

        @include m.breakpoint-up('large') {
            position: static;
            display: flex;
            flex-direction: row;
            background: transparent;
            margin: 0;
            padding: 0;
            gap: f.rem(60);
        }
    }

    &__link {
        color: rgba(v.$color-raisin-black, 0.5);
        font-size: f.rem(14);
        font-weight: bold;
        padding: f.rem(16) 0;
    }

    &__link:hover,
    &__link:focus {
        color: v.$color-gunmetal;
        outline: none;
    }

    &__link:focus-visible {
        color: v.$color-gunmetal;
        outline: 2px solid v.$color-gunmetal;
        outline-offset: 2px;
    }

    &__btn-container {
        display: none;

        @include m.breakpoint-up('medium') {
            display: block;
            position: fixed;
            top: f.rem(32);
            right: f.rem(64);
        }

        @include m.breakpoint-up('large') {
            position: static;
            display: flex;
        }
    }

    &__btn-container--visible {
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: f.rem(16);

        @include m.breakpoint-up('medium') {
            display: block;
            position: fixed;
            top: f.rem(32);
            right: f.rem(64);
            padding: 0;
            gap: 0;
        }

        @include m.breakpoint-up('large') {
            position: static;
            display: flex;
        }
    }

    &__btn {
        font-weight: bold;
        font-size: f.rem(14);
    }

    &__btn:hover {
        box-shadow: 0 5px 10px rgba(black, 0.5);
    }

    &__btn--secondary {
        color: v.$color-gunmetal;
        padding-inline: f.rem(24);

        @include m.breakpoint-up('large') {
            padding-inline: f.rem(32);
        }
    }

    &__btn--secondary:hover,
    &__btn--secondary:focus {
        background-color: rgba(v.$color-iris, 0.5);
        color: white;
    }

    &__btn--primary {
        color: white;
        padding-inline: f.rem(32);
    }

    &__btn--primary:hover,
    &__btn--primary:focus {
        background-color: rgba(v.$color-iris, 0.8);
    }
}
