@use '../abstracts';

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

// Generic button class
.btn {
    height: 2em;
    width: auto;
    border-radius: 1em;
    cursor: pointer;

    &:focus-visible {
        outline: 2px solid abstracts.$color-black;
        outline-offset: 2px;
    }
}

.btn-primary {
    @extend .btn;

    color: white;
    background-color: abstracts.$color-primary;
    border: none;
}

.btn-secondary {
    @extend .btn;

    color: abstracts.$color-dark;
}
