@use '../abstracts';

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn-primary {
    @include abstracts.rounded-btn(2em);

    color: white;
    background-color: var(--color-primary);
    border: none;
    cursor: pointer;

    &:focus-visible {
        outline: 2px solid var(--color-black);
        outline-offset: 2px;
    }
}

.btn-secondary {
    @include abstracts.rounded-btn(2em);

    color: var(--color-dark);
    cursor: pointer;

    &:focus-visible {
        outline: 2px solid var(--color-black);
        outline-offset: 2px;
    }
}
