// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Colors in the design file
$color-primary: #5d50c6;
$color-secondary: #f85e9f;
$color-newsletter-bg: #facd4914;
$color-orange: #ff5722;
$color-yellow: #facd49;
$color-black: #191825;
$color-dark: #222831;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;
