@use 'functions' as f;

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Colors in the design file
$color-primary: #5d50c6;
$color-secondary: #f85e9f;
$color-newsletter-bg: #facd4914;
$color-orange: #ff5722;
$color-yellow: #facd49;
$color-black: #191825;
$color-dark: #222831;

/// Breakpoint sizes in the design file
$breakpoint-size: (
    'medium': f.rem(1024),
    'large': f.rem(1440),
);
