@use '../abstracts/functions' as f;
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

// -----------------------------------------------------------------------------
// This file contains the styles related to the homepage of the site/application.
// -----------------------------------------------------------------------------

.hero {
    padding: f.rem(20) f.rem(16);
    display: grid;
    justify-items: center;
    position: relative;

    @include m.breakpoint-up('medium') {
        padding-top: f.rem(65);
    }

    @include m.breakpoint-up('large') {
        position: relative;
        grid-template-columns: f.rem(420) f.rem(772);
        padding: 0;
        margin-top: f.rem(60);
    }

    &__gradient {
        position: absolute;
        width: f.rem(272);
        height: f.rem(348);
        top: f.rem(-36);
        left: f.rem(-33);
        background: rgba(v.$color-giants-orange, 0.5);
        filter: blur(300px);
        pointer-events: none;
        z-index: 11;

        @include m.breakpoint-up('medium') {
            width: f.rem(500);
            height: f.rem(500);
            top: f.rem(-174);
            left: f.rem(-163);
        }

        @include m.breakpoint-up('large') {
            top: f.rem(43);
            left: f.rem(-201);
        }
    }

    &__img {
        @include m.breakpoint-up('large') {
            grid-area: 1 / 2 / 2 / 3;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        @include m.breakpoint-up('large') {
            margin-top: f.rem(68);
            grid-area: 1 / 1 / 2 / 2;
            text-align: left;
            align-items: flex-start;
            justify-content: flex-start;
            gap: f.rem(43);
        }
    }

    &__explore {
        margin-top: f.rem(32);
        display: flex;
        align-items: center;
        gap: f.rem(20);

        color: v.$color-cyclamen;
        font-size: f.rem(14);
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: f.rem(-0.3);

        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.07);
        padding: f.rem(17.5) f.rem(32);
        border-radius: f.rem(28);

        @include m.breakpoint-up('medium') {
            margin-top: f.rem(64);
        }

        @include m.breakpoint-up('large') {
            margin-top: 0;
        }
    }

    &__tagline {
        color: v.$color-black;
        font-size: f.rem(38);
        font-weight: bold;
        line-height: 1.25;
        margin-top: f.rem(16);

        @include m.breakpoint-up('medium') {
            margin-top: f.rem(43);
            font-size: f.rem(56);
            max-width: f.rem(600);
        }

        @include m.breakpoint-up('large') {
            font-size: f.rem(69);
            margin: 0;
            line-height: 1.2;
        }

        &--emphasized {
            color: v.$color-cyclamen;
        }
    }

    &__text {
        @include m.breakpoint-up('medium') {
            padding-inline: f.rem(280);
        }

        @include m.breakpoint-up('large') {
            margin: 0;
            padding-inline: 0;
            max-width: f.rem(270);
        }
    }

    &__btn-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include m.breakpoint-up('medium') {
            flex-direction: row;
            justify-content: center;
            margin-top: f.rem(45);
            gap: f.rem(16);
        }

        @include m.breakpoint-up('large') {
            margin: 0;
            justify-content: flex-start;
        }
    }

    &__btn {
        width: 100%;

        &--primary {
            height: f.rem(65);
            border-radius: f.rem(32);
            margin-top: f.rem(32);

            @include m.breakpoint-up('medium') {
                margin-top: 0;
                width: f.rem(144);
                height: f.rem(48);
                border-radius: f.rem(24);
            }
        }

        &--secondary {
            height: f.rem(72);
            border-radius: f.rem(36);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: f.rem(8);
            margin-top: f.rem(24);
            border: solid 1px v.$color-anti-flash-white;

            @include m.breakpoint-up('medium') {
                margin-top: 0;
                width: f.rem(176);
                height: f.rem(56);
                border-radius: f.rem(28);
            }
        }
    }

    &__side-triangles {
        display: none;

        @include m.breakpoint-up('medium') {
            display: block;
            position: absolute;
            top: f.rem(1154);
            left: f.rem(38);
            pointer-events: none;
        }
        @include m.breakpoint-up('large') {
            top: f.rem(659);
            left: f.rem(-85);
        }
    }
}

.clients {
    padding: f.rem(44) 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: f.rem(32) f.rem(27);
    position: relative;

    @include m.breakpoint-up('medium') {
        padding: f.rem(139) f.rem(192) f.rem(108);
    }

    @include m.breakpoint-up('large') {
        padding: f.rem(122) 0 f.rem(103.38);
        justify-content: space-between;
    }

    &__img {
        display: flex;
        height: f.rem(20);

        @include m.breakpoint-up('medium') {
            height: f.rem(32);
        }
    }

    &__gradient {
        display: none;

        @include m.breakpoint-up('medium') {
            display: block;
            position: absolute;
            top: 0;
            left: f.rem(946);
            width: f.rem(78);
            height: f.rem(406);

            background: rgba(v.$color-sunglow, 0.5);
            filter: blur(100px);
            z-index: -1;
        }

        @include m.breakpoint-up('large') {
            top: f.rem(-106);
            left: f.rem(1232);
        }
    }
}

.services {
    margin-top: f.rem(20);
    display: grid;
    align-items: center;
    text-align: center;

    &__header {
        @include m.breakpoint-up('large') {
            display: flex;
            flex-direction: column;
        }
    }

    &__subheading {
        margin-top: f.rem(16);

        @include m.breakpoint-up('large') {
            max-width: f.rem(407);
        }
    }

    &__card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: f.rem(32) f.rem(16);
        gap: f.rem(16);

        @include m.breakpoint-up('medium') {
            flex-wrap: nowrap;
            padding: f.rem(64) f.rem(64);
        }

        @include m.breakpoint-up('large') {
            grid-area: 1 / 2 / 2 / 3;
            padding: 0;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid rgba(v.$color-raisin-black, 0.1);
        gap: f.rem(32);
        border-radius: f.rem(32);
        padding: f.rem(32);

        &:hover {
            box-shadow: 0 5px 100px rgba(black, 0.2);
            border: transparent;
        }

        @include m.breakpoint-up('medium') {
            flex: 1;
            padding: f.rem(64) f.rem(64) f.rem(35);
        }

        @include m.breakpoint-up('large') {
            padding: f.rem(64) f.rem(63) f.rem(98);

            &:last-child {
                display: none;
            }
        }
    }

    &__img {
        width: f.rem(64);
    }

    &__card-title {
        font-size: f.rem(24);
        font-weight: bold;
        line-height: 1.2;
        color: v.$color-raisin-black;

        @include m.breakpoint-up('medium') {
            font-size: f.rem(28);
            padding-top: f.rem(34);
        }
    }

    &__card-description {
        font-size: f.rem(18);
    }
}

.travel-point {
    position: relative;
    margin-top: f.rem(14);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: f.rem(21.5);

    @include m.breakpoint-up('medium') {
        gap: f.rem(32);
        margin-top: f.rem(16);
    }

    @include m.breakpoint-up('large') {
        margin-top: f.rem(61);
        flex-wrap: nowrap;
        gap: 0;
        padding-right: f.rem(116);
    }

    &__img {
        padding: f.rem(16);

        @include m.breakpoint-up('medium') {
            padding: f.rem(46) f.rem(57) f.rem(32) f.rem(96);
        }

        @include m.breakpoint-up('large') {
            flex-shrink: 0;
            padding: f.rem(53) 0;
            width: f.rem(871);
            height: f.rem(697);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: f.rem(16);

        @include m.breakpoint-up('medium') {
            padding-inline: f.rem(96);
            gap: f.rem(32);
        }

        @include m.breakpoint-up('large') {
            padding: f.rem(85.6) 0;
        }
    }

    &__subheading {
        margin-top: f.rem(18);
    }

    &__text {
        margin-top: f.rem(32);
        padding-inline: f.rem(32);

        @include m.breakpoint-up('large') {
            padding: 0;
        }
    }

    &__card-container {
        display: grid;
        padding: f.rem(16);
        gap: f.rem(16);

        @include m.breakpoint-up('medium') {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            gap: f.rem(32);
            padding: f.rem(32) 0;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: f.rem(16);
        border: 1px solid rgba(v.$color-raisin-black, 0.1);
        border-radius: f.rem(32);
        padding: f.rem(35) f.rem(32);
    }

    &__card-num {
        font-size: f.rem(35);
        font-weight: bold;
        line-height: 1.2;
        color: v.$color-giants-orange;
    }

    &__floating-img {
        display: none;

        @include m.breakpoint-up('large') {
            display: block;
            position: absolute;
            width: f.rem(257);
            height: f.rem(350);
            top: f.rem(306);
            right: 0;
            z-index: 1;
        }
    }
}

.key-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: f.rem(77);
    gap: f.rem(107);

    @include m.breakpoint-up('medium') {
        margin-top: f.rem(95);
        gap: f.rem(72);
    }

    @include m.breakpoint-up('large') {
        margin-top: 0;
        padding-left: f.rem(118);
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    &__img {
        padding-inline: f.rem(40);

        @include m.breakpoint-up('large') {
            flex-shrink: 0;
            padding-inline: 0;
            margin-top: f.rem(7);
        }
    }

    &__content {
        padding-inline: f.rem(48);

        @include m.breakpoint-up('medium') {
            padding-inline: f.rem(96);
        }

        @include m.breakpoint-up('large') {
            padding-inline: 0;
            margin-top: f.rem(11);
        }
    }

    &__subheading {
        margin-top: f.rem(16);
        letter-spacing: f.rem(-1);
    }

    &__text {
        margin-top: f.rem(32);
        letter-spacing: f.rem(0.2);
    }

    &__card-container {
        margin-top: f.rem(32);
        display: flex;
        flex-direction: column;
        gap: f.rem(8);

        @include m.breakpoint-up('medium') {
            margin-top: f.rem(60);
            gap: 0;
        }
    }

    &__card {
        padding: f.rem(32);
        display: flex;
        flex-direction: column;
        border: 1px solid transparent;
        border-radius: f.rem(32);
        gap: f.rem(32);

        &:hover,
        &:focus {
            border-color: rgba(v.$color-raisin-black, 0.1);
        }

        @include m.breakpoint-up('medium') {
            flex-direction: row;
        }
    }

    &__card-img {
        width: f.rem(100);
        height: f.rem(100);
        border-radius: f.rem(32);
        padding: f.rem(26);
    }

    &__card-content {
        @include m.breakpoint-up('medium') {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__card-title {
        color: v.$color-raisin-black;
        font-size: f.rem(23);
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: f.rem(-1);
    }

    &__card-text {
        margin-top: f.rem(8);
        color: rgba(v.$color-raisin-black, 0.5);
        font-size: f.rem(18);
        line-height: 1.6;
    }
}

.testimonials {
    display: flex;
    flex-direction: column;
    padding-inline: f.rem(16);
    text-align: center;
    gap: f.rem(64);
    margin-top: f.rem(68);

    @include m.breakpoint-up('medium') {
        margin-top: f.rem(127);
        gap: f.rem(55);
        align-items: center;

        background:
            linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8))
                repeat top,
            url('/assets/images/testimonials-background-image.svg') no-repeat
                f.rem(-100) f.rem(-190);
        background-size: 100%, 125%;
    }

    @include m.breakpoint-up('large') {
        margin-top: f.rem(76);

        background-size: 100%;
        background-position:
            0,
            0 f.rem(-186);
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: f.rem(16);
    }

    &__carousel-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include m.breakpoint-up('medium') {
            gap: f.rem(55);
        }

        @include m.breakpoint-up('large') {
            gap: f.rem(80);
        }
    }

    &__carousel {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include m.breakpoint-up('medium') {
            max-width: f.rem(584);
        }

        @include m.breakpoint-up('large') {
            max-width: none;
        }
    }

    &__slides {
        @include m.breakpoint-up('large') {
            max-width: f.rem(690);
        }
    }

    &__slide {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__user-img {
        width: f.rem(128);
        height: f.rem(128);
        border-radius: f.rem(64);
        overflow: hidden;
        object-position: center;
    }

    &__user-info {
        margin-top: f.rem(68);
        color: rgba(v.$color-raisin-black, 0.75);
        text-overflow: ellipsis;
        font-size: f.rem(23);
        font-weight: bold;
        line-height: 1.2;

        @include m.breakpoint-up('medium') {
            margin-top: f.rem(61);
        }
    }

    &__user-name {
        color: v.$color-giants-orange;
        font-size: f.rem(28);
        letter-spacing: f.rem(1);
    }

    &__user-rating {
        margin-top: f.rem(34);
        display: flex;
        justify-content: center;
        gap: f.rem(20);
    }

    &__user-review {
        margin-top: f.rem(68);
        color: rgba(v.$color-raisin-black, 0.75);
        font-size: f.rem(18);
        font-weight: 450;
        line-height: 1.6;

        @include m.breakpoint-up('medium') {
            font-size: f.rem(23);
            margin-top: f.rem(60);
        }
    }

    &__bullets {
        margin-top: f.rem(64);
        position: static;

        @include m.breakpoint-up('medium') {
            margin-top: f.rem(56);
        }
    }

    &__arrow {
        margin-top: f.rem(45);
        order: 1;
        max-width: f.rem(64);
        height: f.rem(64);
        border-radius: f.rem(50);
        border: 1px solid rgba(v.$color-raisin-black, 0.1);
        background-color: v.$color-white;

        &:hover {
            background-color: v.$color-iris;
            box-shadow: 0 5px 5px rgba(v.$color-raisin-black, 0.5);
        }

        @include m.breakpoint-up('medium') {
            order: 0;
            max-width: f.rem(100);
            height: f.rem(100);
            margin-top: f.rem(140);
        }

        @include m.breakpoint-up('large') {
            margin-top: f.rem(119);
        }
    }
}

.newsletter {
    display: flex;
    flex-direction: column;
    gap: f.rem(64);
    margin-top: f.rem(68);
    padding-inline: f.rem(48);
    margin-bottom: f.rem(100); //test

    &__header {
        display: flex;
        flex-direction: column;
        gap: f.rem(32);
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: f.rem(32);
    }

    &__input-container {
        display: flex;
        align-items: center;
        gap: f.rem(16);
        padding: 0 f.rem(32);
    }

    &__email-img {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: f.rem(24);
        height: f.rem(24);
    }

    &__email-input {
        display: inline-flex;
        height: f.rem(72);

        &::placeholder {
            color: rgba(v.$color-raisin-black, 0.75);
            font-size: f.rem(14);
            font-weight: bold;
            line-height: 120%;
        }
    }

    &__btn {
        height: f.rem(64);
        border-radius: f.rem(16);
    }

    &__upper-triangle {
        display: none;

        @include m.breakpoint-up('medium') {
            display: block;
        }

        @include m.breakpoint-up('large') {
            display: none;
        }
    }
}
