@use '../abstracts/functions' as f;
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

// -----------------------------------------------------------------------------
// This file contains all styles related to the services section of the site/application.
// -----------------------------------------------------------------------------

.services {
    margin-top: f.rem(20);
    display: grid;
    align-items: center;
    text-align: center;

    &__heading {
        font-size: f.rem(16);
        line-height: 120%;
        font-weight: bold;
        color: v.$color-cyclamen;
    }

    &__subheading {
        margin-top: f.rem(16);
        font-size: f.rem(32);
        font-weight: bold;
        color: v.$color-raisin-black;
    }

    &__card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // flex-direction: column;
        padding: f.rem(32) f.rem(16);
        gap: f.rem(16);
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid rgba(v.$color-raisin-black, 0.1);
        gap: f.rem(32);
        border-radius: f.rem(32);
        padding: f.rem(32);

        &:hover {
            box-shadow: 0 5px 100px rgba(black, 0.2);
        }
    }

    &__img {
        width: f.rem(64);
    }

    &__card-title {
        font-size: f.rem(24);
        font-weight: bold;
        line-height: 120%;
        color: v.$color-raisin-black;
    }

    &__card-description {
        font-size: f.rem(18);
        line-height: 160%;
        color: rgba(v.$color-raisin-black, 0.5);
    }

    &__gradient {
        display: none;

        @include m.breakpoint-up('medium') {
            display: block;
            position: absolute;
            top: f.rem(1478);
            left: f.rem(946);
            right: 0;
            height: f.rem(406);

            background: rgba(v.$color-sunglow, 0.5);
            filter: blur(125px);
            z-index: -1;
        }

        @include m.breakpoint-up('large') {
            top: f.rem(-335);
            left: f.rem(1232);
            width: f.rem(78);
            height: f.rem(495);
        }
    }
}
