@use '../abstracts/functions' as f;
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;
@use 'sass:math';

// -----------------------------------------------------------------------------
// This file contains all styles related to the travel point section of the site/application.
// -----------------------------------------------------------------------------

.travel-point {
    position: relative;
    margin-top: f.rem(18);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: f.rem(21.5);

    @include m.breakpoint-up('medium') {
        gap: f.rem(32);
    }

    @include m.breakpoint-up('large') {
        margin-top: f.rem(61);
        flex-wrap: nowrap;
        gap: 0;
    }

    &__img {
        padding: f.rem(16);

        @include m.breakpoint-up('medium') {
            padding: f.rem(46) f.rem(57) f.rem(32) f.rem(96);
        }

        @include m.breakpoint-up('large') {
            padding: f.rem(53) 0;
            width: f.rem(871);
            height: f.rem(697);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: f.rem(16);

        @include m.breakpoint-up('medium') {
            padding-inline: f.rem(96);
            gap: f.rem(32);
        }

        @include m.breakpoint-up('large') {
            padding: f.rem(85.6) 0;
            max-width: f.rem(451); //test
        }
    }

    &__header {
        @include m.breakpoint-up('large') {
            text-align: left;
        }
    }

    &__heading {
        font-size: f.rem(16);
        line-height: 120%;
        font-weight: bold;
        letter-spacing: 0.2rem;
        color: v.$color-cyclamen;

        @include m.breakpoint-up('medium') {
            font-size: f.rem(23);
        }
    }

    &__subheading {
        margin-top: f.rem(18);
        font-size: f.rem(32);
        font-weight: bold;
        letter-spacing: f.rem(-0.6);
        color: v.$color-raisin-black;

        @include m.breakpoint-up('medium') {
            font-size: f.rem(40);
            letter-spacing: f.rem(-0.7);
        }

        @include m.breakpoint-up('large') {
            font-size: f.rem(44);
        }
    }

    &__text {
        margin-top: f.rem(32);
        font-size: f.rem(16);
        line-height: 160%;
        color: rgba(v.$color-raisin-black, 0.5);
        padding-inline: f.rem(32);

        @include m.breakpoint-up('medium') {
            font-size: f.rem(18);
        }

        @include m.breakpoint-up('large') {
            padding: 0;
        }
    }

    &__card-container {
        display: grid;
        padding: f.rem(16);
        gap: f.rem(16);

        @include m.breakpoint-up('medium') {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            gap: f.rem(32);
            padding: f.rem(32) 0;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        gap: f.rem(16);
        border: 1px solid rgba(v.$color-raisin-black, 0.1);
        border-radius: f.rem(32);
        padding: f.rem(32);
    }

    &__card-num {
        font-size: f.rem(35);
        font-weight: bold;
        line-height: 120%;
        color: v.$color-giants-orange;
    }

    &__card-text {
        font-size: f.rem(18);
        line-height: 160%;
        color: v.$color-raisin-black;
    }

    &__floating-img {
        display: none;

        @include m.breakpoint-up('large') {
            display: block;
            position: absolute;
            width: f.rem(280);
            height: f.rem(350);
            top: f.rem(306);
            right: f.rem(-23);
            z-index: 1;
        }
    }
}
