@use '../abstracts';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: white;
    font:
        normal 125%/1.4 'Inter',
        Arial,
        Helvetica,
        sans-serif;
    color: abstracts.$color-primary;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font: inherit;
    appearance: none;
}
