@use '../abstracts/variables' as v;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    font: inherit;
}

body {
    background: white;
    color: v.$color-iris;
}

img {
    display: block;
    max-width: 100%;
}

button {
    background: none;
    cursor: pointer;
    appearance: none;
}
