@use '../abstracts/functions' as f;
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;
@use 'sass:map';

// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

// Main content containers
.container {
    max-width: f.rem(1192); // Container's maximum width
    margin: 0 auto;

    // Content container spanning full width on a large screen
    &--wide {
        max-width: map.get(v.$breakpoint-size, 'large');
    }
}

.heading {
    text-align: center;
    color: v.$color-cyclamen;
    font-size: f.rem(16);
    font-weight: bold;
    line-height: 1.2;

    @include m.breakpoint-up('medium') {
        font-size: f.rem(23);
    }

    @include m.breakpoint-up('large') {
        text-align: left;
    }
}

.subheading {
    text-align: center;
    color: v.$color-raisin-black;
    font-size: f.rem(32);
    font-weight: bold;
    line-height: 1.2;

    @include m.breakpoint-up('medium') {
        font-size: f.rem(40);
    }

    @include m.breakpoint-up('large') {
        font-size: f.rem(44);
        text-align: left;
    }
}

.text {
    color: rgba(v.$color-raisin-black, 0.5);
    font-size: f.rem(16);
    line-height: 1.6;
    text-align: center;

    @include m.breakpoint-up('medium') {
        font-size: f.rem(18);
    }

    @include m.breakpoint-up('large') {
        text-align: left;
    }

    &--dark {
        font-size: f.rem(18);
        color: v.$color-raisin-black;
    }
}
