@use '../abstracts/functions' as f;
@use '../abstracts/variables' as v;
@use 'sass:map';

// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

// Main content containers
.container {
    max-width: f.rem(1192); // Container's maximum width
    margin: 0 auto;
}

// Content container spanning full width on a large screen
.container-large {
    max-width: map.get(v.$breakpoint-size, 'large');
    margin: 0 auto;
}
